* {
    box-sizing: border-box;
}
.calc{
    width:400px;
    background-color: black;
    color: white;
}
.screen{
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}
.calc-button-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%
}

.calc-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}
.calc-button:last-child{
    background-color: #df974c;
    color: white;
}
.double{
    width: 49.7%;
}
.triple{
    width: 74.8%;
}